 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles


// OpenTable Color Palette
$black: #1B1B1B;
$darkgrey: #61605F;
$lightgrey: #B5A3A2;
$red: #D83946;
$mutedred: #CC4A52; 
$brownred: #54292E;
$lightbrown: #AD8B78;

@mixin border {
  border: solid 1px black;
}

$mobile: new-breakpoint(max-width 800px);

@mixin box {
  @include span-columns (4);
  // @include border;
  @include omega;
  height: 250px;
  margin-left: 12px;
  margin-top: 12px;
  text-align: center;
  @include media($mobile) {
    @include span-columns (12);
  }
}


body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

header {
  width: 100%;
  background-color: $mutedred;
  .headerinner {
    @include outer-container;
    height: 95px;
    .home {
      height: 75px;
      background: none;
      margin: 5px;
      padding: 5px;
      cursor: pointer;
      border: none;
      border-radius: 25px;
      outline: 0;
      .coname {
        color: white;
        font-size: 20px;
      }
    }
    .home:hover {
      background-color: $black;
    }
  }
}

.welcome {
  width: 100%;
  @include border;
  background-image: url(../images/brickone.jpg);
  color: white;
  border-bottom: 25px solid $black;
  .hero-unit {
    @include outer-container;
    // @include border;
    height: 400px;
    .herotext {
      // @include border;
      width: 100%;
      height: 300px;
      text-align: center;
      margin-top: 100px;
      h1 {
        font-size: 60px;
        margin-top: 85px;
      }
    }
  }
}

.foodcatagories {
  @include outer-container;
  // @include border;
  .steak {
    @include box;
  }
  .seafood {
    @include box;
  }
  .burger {
    @include box;
  }
  .asian {
    @include box;
  }
  .mexican {
    @include box;
  }
  .italian {
    @include box;
  }
  .vegetarian {
    @include box;
  }
  .sushi {
    @include box;
  }
  .drink {
    @include box;
  }


  .foodbuttons {
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .foodbuttons:hover {
    background-color: #F3F4F7;
    outline: 0;
  }
  // .block {
  //   @include span-columns(6);
  //   @include border;
  //   height: 100px;
  // }
}

// .mainsize {
//   width: 100%;
//   height: 500px;
// }

.searchoverview {
  width: 100%;
  background-color: $black;
  .searchinner {
    @include outer-container;
    height: 200px;
    border: solid 1px white;
    color: white;
  }
}



























